@model IEnumerable<GCPack.Model.Item>
@{
    ViewBag.Title = "CodeListsController";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Typy dokumentů</h2>
@Html.ActionLink("Přidat", "DocumentTypesAdd", "CodeLists", new { @class = "btn btn-default btn-sm" })
<div class="row">
    <div class="col-md-6">
        <table class="table" style="margin-top:20px">
            <tr>
                <th>
                    Název
                </th>
                <th></th>
            </tr>

            @foreach (var documentType in @Model)
            {
                <tr>
                    <td>@documentType.Value</td>
                    <td>
                        @Html.ActionLink("Upravit", "DocumentTypesEdit", "CodeLists", new { ID = documentType.ID }, new { @class = "btn btn-default btn-sm" })
                        @Html.ActionLink("Smazat", "DocumentTypesDelete", "CodeLists", new { ID = documentType.ID }, new { @class = "btn btn-default btn-sm" })
                    </td>
                </tr>
            }
        </table>
    </div>
</div>