@model GCPack.Model.UserModel
@{
    ViewBag.Title = "Index";
}
    @using (Html.BeginForm("Login", "Login", FormMethod.Post, new { id = "loginForm" }))
    {
        <div>
            <h2>Přihlašeni</h2>
            Jméno: <input name="UserName" class="form-control" value="@Model.UserName" />
            Heslo: <input name="Password" class="form-control" type="password" value="@Model.Password"/>
            <input type="hidden" name="RawUrl" value="@ViewBag.RawUrl" />
            <input type="submit" class="btn btn-primary" value="Přihlásit" />
        </div>
        
    }
