body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select
 {
    max-width: 250px;
    margin-bottom:5px;
}

.annotationArea {
    width: 600px;
    max-width: 600px !important;
    height: 150px !important;
}

.selectBoxes {
    width: 600px;
    max-width: 600px !important;
    height: 150px !important;
}

#tabs .ui-tabs-panel {
    height: 500px;
    overflow: auto;
}

/*
JH 31.10.2017 vyuzito ve filtru document\view\index pro znemozneni zmeny stavu a typu revize pro roli User - volano ve funkci 
IsAccessCSSClass
*/
.clsDisabled {
    background-color: #ddd;
    pointer-events: none;
}

/*
JH 31.10.2017 vyuzito na tlacitkach document\view\edit, detail pro skryti akci dle role prihlasenho uzivatele - volano ve funkci 
IsAccessCSSClass
*/

.clsHhidden {
    visibility: hidden
}