body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select {
    max-width: 250px;
    margin-bottom: 5px;
}

.annotationArea {
    /*width: 600px;*/
    /*max-width: 600px !important;*/
    max-width: 100%;
    width: 100%;
    height: 100px !important;
}

/*.selectBoxes {
    width: 600px;
    max-width: 600px !important;
    height: 150px !important;
}*/

#tabs .ui-tabs-panel {
    height: 500px;
    overflow: auto;
}

/*
JH 31.10.2017 vyuzito ve filtru document\view\index pro znemozneni zmeny stavu a typu revize pro roli User - volano ve funkci 
IsAccessCSSClass
*/
.clsDisabled {
    background-color: #ddd;
    pointer-events: none;
}

/*
JH 31.10.2017 vyuzito na tlacitkach document\view\edit, detail pro skryti akci dle role prihlasenho uzivatele - volano ve funkci 
IsAccessCSSClass
*/

.clsHhidden {
    visibility: hidden
}

/*LF - vsechny radky s class dataRowClick budou mit vlastnostnost selected*/
.dataRowClick:hover, .dataRow.selected {
    /*background-color: #FFCF8B;*/
    background-color: #E5E5E5;
    cursor: pointer;
}

.tmaveSedePozadi {
    /*viz filtr v indexu = setSortBydefault*/
    background-color: #D1D1D1;
}

.setSortByDefault {
    /*color: #CCCCCC;*/
    color: #D1D1D1;
    opacity: 0.7;
}

.setSortBy {
    color: #3276B1;
    opacity: 0.7;
}

/*vše ng-pluralize view /Documents/ Edit*/
.row {
    margin-bottom: 10px;
}


.ui-tabs .ui-tabs-nav li.ui-tabs-active {
    margin-bottom: -1px;
    padding-bottom: 1px;
    background: #3276B1;
}

.tableHlavicka {
    background-color: aliceblue;
}

.modra {
    color: #3276B1;
}

.sedaPozadi {
    /*světlá - použito např pod vyběry kategorii v view Documet/Edit*/
    background: #F5F5F5;
}

.categories {
    width: 100%;
}
